*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#080808;
color:#f5efe6;

font-family:
"Cormorant Garamond",
serif;

overflow-x:hidden;

}



.hero{

height:100vh;

background:
radial-gradient(circle at top,#3a2b20,#080808);

display:flex;
flex-direction:column;

}



nav{

display:flex;
justify-content:space-between;

padding:30px 7%;

font-family:"Playfair Display";

}



nav h2{

letter-spacing:5px;

}



nav a{

color:white;
text-decoration:none;

margin-left:30px;

opacity:.8;

}



.hero-content{

flex:1;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

}



.script{

font-family:"Allura";

font-size:60px;

color:#d9b77d;

}



h1{

font-family:"Playfair Display";

font-size:clamp(70px,12vw,180px);

line-height:.8;

letter-spacing:5px;

}



.hero-content p{

max-width:500px;

font-size:22px;

margin:30px;

}



.button{

background:#c9a66b;

padding:15px 45px;

border-radius:50px;

color:black;

text-decoration:none;

font-family:"Playfair Display";

}



.poem-section{

height:100vh;

position:relative;

padding:80px;

}



.poem-section h2{

font-size:70px;

text-align:center;

}



.floating-poems img{

position:absolute;

width:220px;

animation:float 6s infinite ease-in-out;

}



.floating-poems img:nth-child(1){

left:10%;
top:40%;

}



.floating-poems img:nth-child(2){

right:15%;
top:20%;

}



.floating-poems img:nth-child(3){

left:45%;
bottom:10%;

}



@keyframes float{

0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-30px);

}

}



.about{

height:70vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}


.about h2{

font-size:80px;

}



.about p{

font-size:25px;

max-width:600px;

  }
